<body>
  <header>
    <h1> Eliott </h1>
    <ul>
      <li><a href="faeea"> Test 1 </a></li>
      <li><a href="gzlfq"> Test 2 </a></li>
      <li><a href="glsld"> Test 3 </a></li>
    </ul>
  </header>
  <main>
    <h1> Salut, je m'appelle Eliott et je suis en ecole d'ingenieur</h1>
    <button type="button"> View my work </button>
  </main>
  <footer>
    <ul>
      <li><a href="https://www.github.com"> Github </a></li>
      <li><a href="www.linkedin.com"> LinkedIn</a></li>
      <li><a href="www.twitter.com"> Twitter </a></li>
    </ul>
    <h6>  Eliott </h6>
  </footer>
</body>